.top{
  height: 109px;
  width: 100%;
  /* background-color: blue; */
}
.top-nav{
  height: 60px;
  width: 100%;
  /* background-color: blue; */
}
.top-nav-left{
  height: 60px;
  float: left;
  background-color: brown;
}